# Data
data/raw/*
data/processed/*

# Exceptions
!data/raw/.gitkeep
!data/processed/.gitkeep

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db